# --- Angular (Node) ---
node_modules/
dist/
npm-debug.log
yarn-error.log

# --- .NET (Visual Studio) ---
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# --- General ---
.DS_Store
Thumbs.db
